<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Book library</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href='static/style.css' rel='stylesheet' />
    </head>
    <body>
        <div class="header">
            <div class="page-title">Book library</div>
            <div>
                <input type="checkbox" id="view" />
                <label for="view">List view</label>
            </div>
            <div>
                Sort by:
                <select name="sort" id="sort">
                    <option value="author" selected>Author</option>
                    <option value="title">Title</option>
                    <option value="added">Added</option>
                </select>
            </div>
            <div>
                Size:
                <select name="size" id="size">
                    <option value="100" selected>S</option>
                    <option value="200">M</option>
                    <option value="300">L</option>
                </select>
            </div>
            <div>
                <input type="text" id="filter" name="filter" value="", placeholder="Filter...">
            </div>
            <div class="logout">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div id="books" class="wrap"></div>
        <script>
            const books = {{ books | safe }};
            const debug = {{ debug | tojson }};
        </script>
        <script src="static/main.js"></script>
    </body>
</html>
